<div class="modal fade" id="contactModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="contact" method="post" action="{{ app.url_generator.generate('main_post_contact', { "lang": app.request.get('lang') }) }}">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Contactez nous</h4>
        </div>
        <div class="modal-body">
          <p>Veuillez remplir le formulaire suivant, nous vous répondrons dans les plus brefs délais.</p>
            <ul class="list-unstyled">
              <li><label>Votre nom :&nbsp;&nbsp;</label><input type="text" name="contact[name]" value="" size="30" placeholder="Votre nom" required="required"/></li>
              <li><label>Votre email :&nbsp;</label><input type="email" name="contact[email]" value="" size="30" placeholder="Votre adresse email" required="required"/></li>
              <li><label>Message :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><textarea name="contact[message]" placeholder="Votre message" rows="10" cols="30" required="required"></textarea></li>
              <li><input type="hidden" name="contact[_pf_token]" value="{{ form['_pf_token'].vars.value }}" /></li>
            </ul>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Envoyer</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
