{% extends "layout.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block content %}
    <section class="home-intro section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-1 text-center">
            <h2 class="home-intro-title">Expert PostgreSQL <span>&</span> PHP</h2>
            <p class="home-intro-subtitle">Culture DevOps</p>
            <p class="home-intro-txt">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet ttrutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed.</p>
            <p>
              <a href="#" class="btn btn-orange">Notre offre de conseil</a>
              <a href="#" class="btn btn-orange">Découvrez nos formations</a>
            </p>
          </div>
          <div class="col-md-3">
            <img src="/img/illus-postgresql-php.jpg" alt="" class="center-block" />
          </div>
        </div>
      </div>
    </section>

    <section class="home-pomm section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="home-pomm-title">Créateur de Pomm</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla.</p>
            <a href="#" class="btn btn-white">Découvrez Pomm</a>
          </div>
          <div class="col-sm-6">
            <p class="home-pomm-quote">Pomm propose une <strong>nouvelle approche</strong> de la modélisation de données&nbsp;!</p>
            <img src="/img/logo-pomm.png" class="pull-right" alt="Pomm" />
          </div>
        </div>
      </div>
    </section>
{% endblock %} 
