{% extends "layout.html.twig" %}

{% block content %}
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Informations pratiques</h2>
          <p>
            <strong>PragmaFabrik</strong> SARL au capital de 2 500€, RCS de Nantes.
            <ul>
              <li>39, quai de Versailles 44000 Nantes</li>
              <li> SIRET : 798 601 522 00013</li>
              <li> TVA : FR 26 798601522</li>
            </ul>
          </p>
          <p>Contact : Grégoire HUBERT 06.60.15.49.80 gregoire (point) hubert (at) pragmafabrik (point) com</p>
        </div>
      </div>
{% endblock %}

