<!DOCTYPE html>
<html>
  <head>
    <title>PragmaFabrik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="PragmaFabrik.com" />
{% if app.request.get('lang') == 'fr' %}
    <meta name="description" content="Site officiel de PragmaFabrik SARL" />
{% else %}
    <meta name="description" content="Official site of PragmaFabrik SARL" />
{% endif %}
    <meta name="keywords" content="PragmaFabrik, pomm, postgresql, slapom, php" />
    <meta name="language" content="{{ app.request.get('lang') }}" />
    <meta name="robots" content="index, follow" />

    <!-- JAVASCRIPT -->
{% block js %}{% endblock %}
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>

    {% if constant('ENV') == "prod" %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
     {% endif %}

    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="/css/custom.css" rel="stylesheet" media="screen" />
{% block css %}{% endblock %}
  </head>
  <body>
{{ render(app.url_generator.generate("main_navbar", { "lang": app.request.get('lang') })) }}
    <div id="wrap">
      <div class="container">
{% include "error_bar.html.twig" with { "app": app } only %}
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="page-header">
              <h1>PragmaFabrik <small>L'expertise PHP &amp; Postgresql</small></h1>
            </div>
          </div>
        </div>
{% block content %}{% endblock %}
      </div>
    </div>
    <div id="footer" class="panel-footer">
      <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <div class="center-block page-footer">
            <p>Tous droits réservés &copy; 2013 PragmaFabrik SARL.</p>
          </div>
        </div>
      </div>
    </div>
{{ render(app.url_generator.generate("main_contact", { "lang": app.request.get('lang') })) }}
  </body>
</html>
