<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% if app.request.get('lang') == 'fr' %}
    <meta name="description" content="Site officiel de PragmaFabrik SARL" />
{% else %}
    <meta name="description" content="Official site of PragmaFabrik SARL" />
{% endif %}
    <meta name="keywords" content="PragmaFabrik, pomm, postgresql, slapom, php" />
    <meta name="language" content="{{ app.request.get('lang') }}" />
    <meta name="robots" content="index, follow" />
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/global.css">
{% block css %}{% endblock %}

    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300italic,400italic|Dosis:600,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-2.1.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
{% block javascript %}{% endblock %}
{% if constant('ENV') == "prod" %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-16699784-4', 'pragmafabrik.com');
  ga('send', 'pageview');

</script>
{% endif %}
  </head>
  <body>
    <header class="header">
      <div class="container">
{{ render(app.url_generator.generate("main_navbar", { "lang": app.request.get('lang') })) }}
      </div>
    </header>
{% block content %}{% endblock %}
{% include app.request.get('lang') ~ "/_footer.html.twig" %}

    <div class="bottom">
      <ul class="nav-btm">
        <li><a href="{{ app.url_generator.generate("main_legal", { "lang": app.request.get('lang') }) }}">Mentions légales</a></li>
      </ul>
    </div>
  </body>
</html>
