<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% if app.request.get('lang') == 'fr' %}
    <meta name="description" content="Site officiel de PragmaFabrik SARL" />
{% else %}
    <meta name="description" content="Official site of PragmaFabrik SARL" />
{% endif %}
    <meta name="keywords" content="PragmaFabrik, pomm, postgresql, slapom, php" />
    <meta name="language" content="{{ app.request.get('lang') }}" />
    <meta name="robots" content="index, follow" />
    <title>{% block title %}{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/global.css">
{% block css %}{% endblock %}

    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300italic,400italic|Dosis:600,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery-2.1.0.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
{% block javascript %}{% endblock %}
{% if constant('ENV') == "prod" %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
{% endif %}
  </head>
  <body>
    <header class="header">
      <div class="container">
{{ render(app.url_generator.generate("main_navbar", { "lang": app.request.get('lang') })) }}
      </div>
    </header>
{% block content %}{% endblock %}
    <footer class="footer section">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-5 col-md-offset-1">
            <h3 class="footer-title"><span>À propos</span></h3>
            <p>PragmaFabrik en trois mots : <u>pragmatique</u>, <u>créatif</u> et <u>transverse</u>. Pragmatique c'est évaluer les moyens techniques et les compromis à mettre en place pour atteindre les objectifs. Comprendre les contraintes c'est se donner les moyens d'être créatif. Transverse car les solutions efficaces s'envisagent sur l'ensemble des domaines techniques en œuvre. <a href="{{ app.url_generator.generate('main_about', {  "lang": app.request.get('lang') }) }}">En savoir plus</a></p>
          </div>
          <div class="col-sm-6 col-md-5">
            <h3 class="footer-title"><span>Suivez-nous</span></h3>
            <ul class="nav-social">
              <li><a href="https://github.com/pragmafabrik"><span class="ico-social ico-github"></span><span>GitHub</span></a></li>
              <li><a href="https://twitter.com/PragmaFabrik"><span class="ico-social ico-twitter"></span><span>Twitter</span></a></li>
            </ul>
          </div>
        </div>  
      </div>
    </footer>

    <div class="bottom">
      <ul class="nav-btm">
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Nous rejoindre</a></li>
      </ul>
    </div>
  </body>
</html>
