    <footer class="footer section">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-5 col-md-offset-1">
            <h3 class="footer-title"><span>About</span></h3>
            <p>PragmaFabrik in three words: <u>pragmatic</u>, <u>creative</u> and <u>transverse</u>. Evaluate technical resources and compromises to leverage in order to reach your goals. Understand constraints while being creative. Efficient solutions are designed upon the whole technical domain span. <a href="{{ app.url_generator.generate('main_about', {  "_locale": app.request.get('_locale', 'en') }) }}">Learn more</a></p>
          </div>
          <div class="col-sm-6 col-md-5">
            <h3 class="footer-title"><span>Follow us</span></h3>
            <ul class="nav-social">
              <li><a href="https://github.com/pragmafabrik"><span class="ico-social ico-github"></span><span>GitHub</span></a></li>
              <li><a href="https://twitter.com/PragmaFabrik"><span class="ico-social ico-twitter"></span><span>Twitter</span></a></li>
            </ul>
          </div>
        </div>  
      </div>
    </footer>

