{% extends "layout.html.twig" %}

{% block title %} - About us{% endblock %}

{% block content %}
    <section class="section page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
{% include "_breadcrumb.html.twig" with { "breadcrumb": { "Homepage": "main_index", "About": "" } } %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-md-offset-1">
            <h1>À propos</h1>
            <div class="row">
              <div class="col-md-2 col-sm-3 col-xs-3">
                <img src="/img/pic-gregoire.png" alt="" />
              </div>
              <div class="col-md-10 col-sm-9 col-xs-9">
                <p class="lead">Grégoire Hubert, author of Pomm and PragmaFabrik's founder has been working for more than 15 years in heterogeneous environments in the web field. His experience with structural and PHP development added to his expertise of the Postgresql database lead him to work as transverse consultant.</p>
                  <ul class="nav-social">
                    <li><span class="label label-primary"><a href="https://github.com/chanmix51"><span class="ico-social ico-github"></span><span class="label">GitHub</span></a><span></li>
                    <li><span class="label label-primary"><a href="https://twitter.com/chanmix51"><span class="ico-social ico-twitter"></span><span>Twitter</span></a></span></li>
                  </ul>
                </p>
              </div>
            </div>
            <p>Aware that the industrialization of business oriented web applications needs custom developments on ad-hoc architecture, he highlights the added value the relational database can bring to those projects. He did create PragmaFabrik in 2013 to offer his expertise and tools like <a href="{{ app.url_generator.generate('main_fabrik_pomm', {'lang': 'en'}) }}">Pomm</a> around Postgresql integration in web developments.</p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
