{% extends "layout.html.twig" %}

{% block title %} - Mentions légales{% endblock %}

{% block content %}
    <section class="section page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
{% include "_breadcrumb.html.twig" with { "breadcrumb": { "Accueil": "main_index", "Mentions légales": "" } } %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <h1>PragmaFabrik</h1>
            <h2>Identification</h2>
            <p>Société à responsabilité limitée (Limited Responsibility Company) with 2,500€ capital registered to R.C.S. de Nantes - St Nazaire (France). <a href="https://www.infogreffe.fr/societes/entreprise-societe/798601522-pragmafabrik-440113B025880000.html?afficherretour=false">See complete data</a> (French).</p>
            <h2>Personal data</h2>
            <p>The only data collected on this website are the data entered by you on the <a href="{{ app.url_generator.generate('main_contact', {'lang': 'en'}) }}">contact form page</a>. In compliance with French law, those data can be sent to you or destroyed at your request. These data are not in any way, sold or shared with any other company than PragmaFabrik. No personal data are associated by PragmaFabrik with your browsing to track your behavior on this site or any other site. This site uses <a href="http://www.google.com/analytics/">Google Analytics</a> for statistics purposes only.</p>
        </div>
      </div>
    </section>
{% endblock %}
