{% extends "layout.html.twig" %}

{% block content %}
    <section class="section page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
{% include "_breadcrumb.html.twig" with { "breadcrumb": { "Accueil": "main_index", "À propos": "" } } %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-md-offset-1">
            <h1>À propos</h1>
            <div class="row">
              <div class="col-md-2 col-sm-3 col-xs-3">
                <img src="/img/pic-gregoire.png" alt="" />
              </div>
              <div class="col-md-10 col-sm-9 col-xs-9">
                <p class="lead">Grégoire Hubert, auteur de Pomm et fondateur de PragmaFabrik travaille depuis plus de 15 ans dans des environnements hétérogènes liés au web. Son expérience de l'infrastructure et du développement PHP liée à son expertise de la base de données Postgresql l'amènent à exercer une activité de consultant transverse.</p>
                  <ul class="nav-social">
                    <li><span class="label label-primary"><a href="https://github.com/chanmix51"><span class="ico-social ico-github"></span><span class="label">GitHub</span></a><span></li>
                    <li><span class="label label-primary"><a href="https://twitter.com/chanmix51"><span class="ico-social ico-twitter"></span><span>Twitter</span></a></span></li>
                  </ul>
              </div>
            </div>
             Conscient que l'industrialisation des applications web à forte composante métier nécessite un développement sur mesure avec une architecture ad hoc, il met en avant la valeur ajoutée que la base de données relationnelle peut apporter dans ces projets. Il crée PragmaFabrik en 2013 pour proposer son expertise et des outils tels que <a href="{{ app.url_generator.generate('main_fabrik_pomm', {'lang': 'fr'}) }}">Pomm</a> autour de l'intégration de la base de données Postgresql dans les développements PHP.</p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
