{% extends "layout.html.twig" %}

{% block content %}
    <section class="section page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ol class="breadcrumb">
              <li><a href="{{ app.url_generator.generate('main_index') }}">Accueil</a></li>
              <li class="active">À propos</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 col-md-offset-1">
            <h1>À propos</h1>
            <div class="row">
              <div class="col-md-2 col-sm-3 col-xs-3">
                <img src="/img/pic-gregoire.png" alt="" />
              </div>
              <div class="col-md-10 col-sm-9 col-xs-9">
                <p class="lead">Grégoire Hubert, fondateur de PragmaFabrik travaille depuis 15 ans dans des environnements hétérogènes liés au web. Son expérience de l'infrastructure et du développement PHP liée à son expertise de la base de données Postgresql l'amènent à exercer une activité de consultant transverse.</p>
                  <ul class="nav-social">
                    <li><span class="label label-primary"><a href="https://github.com/chanmix51"><span class="ico-social ico-github"></span><span class="label">GitHub</span></a><span></li>
                    <li><span class="label label-primary"><a href="https://twitter.com/chanmix51"><span class="ico-social ico-twitter"></span><span>Twitter</span></a></span></li>
                  </ul>
              </div>
            </div>
            <h2>Bio</h2>
            <p>Dès 1999, il fait ses armes en SSII puis travaille dans une des toutes premières SS2L en région parisienne. Il en tire une connaissance du système gnu/linux et du réseau. Il y rencontre aussi les membres de l'APRIL et le logiciel libre en général.</p>
            <p>Dès 2006, après un passage chez un hébergeur open source, il développe des applications web pour des grands comptes avec le framework symfony. Au fur et à mesure des projets, il exercera l'activité de consultant, formateur mais aussi responsable de la plate-forme technique développeurs.</p>
            <p>Freelance à partir de 2010, il travaille en tant qu'expert et formateur pour des SSII et des grands comptes. Conscient que l'industrialisation des applications web à forte composante métier nécessite un développement sur mesure avec une architecture ad hoc, il met en avant la valeur ajoutée que la base de données relationnelle peut apporter dans ces projets. Il crée PragmaFabrik en 2013 pour proposer son expertise et des outils autour de l'intégration de la base de données Postgresql dans les développements PHP.</p>
            <h2>Compétences</h2>
            <div class="row">
              <div class="col-sm-6">
                <h3>Postgresql</h3>
                <p>Utilisateur depuis la version 6.3. Bonne connaissance du SQL2008 des fonctions et des types de Postgresql.</p>
              </div>
              <div class="col-sm-6">
                <h3>PHP</h3>
                <p>Développeur, formateur et consultant symfony 1.x et 2.0, Silex.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h3>GNU/Linux</h3>
                <p>Bash scripting, virtualisation.</p>
              </div>
              <div class="col-sm-6">
                <h3>Réseau</h3>
                <p>Firewall netfilter, LVM et solutions de haute-disponibilité.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
