{% extends "layout.html.twig" %}

{% block title %} - Fabrik{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block content %}
<section class="section page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
{% include "_breadcrumb.html.twig" with { "breadcrumb": { "Accueil": "main_index", "Fabrik": "", "Pomm": "" } } %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <h1>Pomm</h1>
            <p class="lead">Pomm est un gestionnaire de la couche modèle open-source dédié à Postgresql pour les développements en PHP. Il propose une approche différente des ORM classiques et permet de tirer parti des fonctionnalités et des performances du moteur de base de données.</p>
            <div class="row">
              <div class="col-md-4">
                <h2>Simple</h2>
                <p>Même si l'approche est différente, Pomm s'utilise globalement de façon similaire aux ORM classiques (Doctrine, Propel, etc.). Un introspecteur de base de données permet de générer les classes à partir de votre base de données existante et d'être efficace au plus vite. <br /></p>
              </div>
              <div class="col-md-4">
                <h2>Puissant</h2>
                <p>Pomm intègre la logique ensembliste de la base de données à l'approche orientée objet des développements web. De fait, les développeurs peuvent utiliser directement le SQL et les fonctionnalités offertes par le moteur Postgresql. Pomm propose en outre une couche de conversion de haut niveau des types de Postgresql vers / depuis PHP.</p>
              </div>
              <div class="col-md-4">
                <h2>Rapide</h2>
                <p>Affranchi de toute couche d'abstraction, Pomm propose un accès direct à la base de donnée et garantit ainsi des performances inégalables par les ORM classiques. De plus, l'utilisation des mécanismes de la base permet de rester au plus près de son niveau de performances optimal. <br /></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <ul class="nav-secondary list-group">
              <li class="list-group-item active">Pomm</li>
            </ul>
          </div>
        </div><!-- row -->
        <div class="row">
          <div class="col-sm-9">
            <div class="well well-sm">Plus d'informations sur <a href="http://www.pomm-project.org">le site open-source de Pomm</a></div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
