{% extends "layout.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block content %}
    <section class="home-intro section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-1 text-center">
            <h2 class="home-intro-title">Expert PostgreSQL <span>&</span> PHP</h2>
            <p class="home-intro-subtitle">Culture DevOps</p>
            <p class="home-intro-txt">Une approche pragmatique et transverse de la technique au service des applications web à forte composante métier</p>
            <p>
              <a href="{{ app.url_generator.generate('main_service_audit') }}" class="btn btn-orange">Notre offre de conseil</a>
              <a href="{{ app.url_generator.generate('main_service_training') }}" class="btn btn-orange">Découvrez nos formations</a>
            </p>
          </div>
          <div class="col-md-3">
            <img src="/img/illus-postgresql-php.jpg" alt="" class="center-block" />
          </div>
        </div>
      </div>
    </section>

    <section class="home-pomm section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="home-pomm-title">Créateur de Pomm</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>Pomm est un framework de gestion de la couche modèle dédié à Postgresql. Il propose une approche différente des ORM et permet de tirer parti des avantages et des performances de ce moteur de base de données dans vos applications.</p>
            <a href="{{ app.url_generator.generate('main_fabrik_pomm') }}" class="btn btn-white">Découvrez Pomm</a>
          </div>
          <div class="col-sm-6">
            <p class="home-pomm-quote">Pomm propose une <strong>nouvelle approche</strong> de la manipulation de données&nbsp;!</p>
            <img src="/img/logo-pomm.png" class="pull-right" alt="Pomm" />
          </div>
        </div>
      </div>
    </section>
{% endblock %} 
