{% extends "layout.html.twig" %}

{% block content %}
    <section class="section page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
{% include "_breadcrumb.html.twig" with { "breadcrumb": { "Accueil": "main_index", "Mentions légales": "" } } %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <h1>PragmaFabrik</h1>
            <h2>Identification</h2>
            <p>Société à responsabilité limitée au capital de 2 500€, R.C.S. de Nantes - St Nazaire. <a href="https://www.infogreffe.fr/societes/entreprise-societe/798601522-pragmafabrik-440113B025880000.html?afficherretour=false">Voir la fiche complète</a>.</p>
            <h2>Données personnelles</h2>
            <p>Les seules données personnelles nominatives collectées sur ce site sont celles entrées par vous dans <a href="{{ app.url_generator.generate('main_contact') }}">le formulaire de contact</a>. Conformément à la loi informatique et libertée, les données vous concernant peuvent vous être envoyées et / ou détruites sur simple demande de votre part. Ces données ne sont en aucun cas revendues ni partagées avec aucune autre entreprise que PragmaFabrik SARL.<p>
            <h2>Navigation</h2>
            <p>Le site pointé par les domaines pragmafabrik.com et pragmafabrik.fr utilise des cookies pour mémoriser la configuration linguistique des utilisateurs. La navigation des internautes est tracée par un marqueur <a href="https://www.google.com/analytics">Google Analytics</a> (marque déposée) à des fins statistiques. Aucune donnée nominative n'est associée par PragmaFabrik SARL à votre navigation sur ces sites ni aucun autre.</p>
        </div>
      </div>
    </section>
{% endblock %}
