{% extends "layout.html.twig" %}

{% block title %} - Formation{% endblock %}

{% block description %}Formations Pomm, PHP et Postgresql. Plans de cours.{% endblock %}

{% block content %}
    <section class="section page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
{% include "_breadcrumb.html.twig" with { "breadcrumb": { "Accueil": "main_index", "Nos offres": "", "Formation": "" } } %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <h1>Nos formations</h1>
            <p class="lead">Spécialiste Postgresql &amp; PHP, PragmaFabrik vous convie au partage de son savoir-faire.</p>
            <h2>Pomm</h2>
            <p>Un exercice pratique nous emmènera exploter, tout au long de cette formation, la richesse des types de données, que nous utiliserons pour façonner, à l'aide de requêtes de plus en plus complexes, les ensembles attendus par les objets PHP.</p>
            <p>L'utilisation avancée de Postgresql au travers l'OMM Pomm (2 jours, 2 400€).</p>
            <dl>
              <dt>Apprivoiser Postgresql</dt>
              <dd>Se connecter en ligne de commandes</dd>
              <dd>PSQL : guide de survie</dd>
              <dd>Configurer PSQL</dd>
              <dt>Structures et bases</dt>
              <dd>Schémas et <code>search_path</code></dd>
              <dd>Tables et séquences</dd>
              <dd>Extension <code>uuid</code></dd>
              <dt>Premiers pas avec Pomm</dt>
              <dd>Introspection de la base de données</dd>
              <dd>Structure des entités</dd>
              <dd>Premières requêtes</dd>
              <dt>Couche modèle</dt>
              <dd>Organiser ses requêtes</dd>
              <dd>Conditions dynamiques</dd>
              <dd>Opérateurs de projection</dd>
              <dt>Collections et entités</dt>
              <dd>Itérateurs de résultats</dd>
              <dd>Utiliser les entités dans les vues</dd>
              <dd>Augmenter les entités</dd>
              <dt>Structures complexes</dt>
              <dd>Tableaux</dd>
              <dd>Types géométriques/<dd>
              <dd>Types temporels</dd>
              <dd>JSON, HStore &amps; convertisseurs</dd>
              <dt>Modifications</dt>
              <dd>Création d'entités</dd>
              <dd>Modification</dd>
              <dd>Suppression</dd>
              <dt>Requêtes SQL</dt>
              <dd>Construction des requêtes</dd>
              <dd>Champs virtuels</dd>
              <dd>Jointures</dd>
              <dt>Modificateurs ensemblistes</dt>
              <dd>Valeurs et générateurs</dd>
              <dd>Agrégats</dd>
              <dd>Fonctions fenêtrées</dd>
              <dt>Common Table Expression (CTE)</dt>
              <dd>Requêtes simples</dd>
              <dd>Requêtes récursives</dd>
              <dd>CTE modifiantes</dd>
              <dt>Requêtes orientées objet</dt>
              <dd>Types composites</dd>
              <dd>SQL &amp; objets</dd>
              <dd>Convertisseurs</dd>
            </dl>
          </div>
{% include "fr/_service_panel.html.twig" with { "active": "training" } %}
        </div>
      </div>
    </section>
{% endblock %}

