{% extends "layout.html.twig" %}

{% block title %} - Accompagnement technique{% endblock %}

{% block description %}Accompagnement technique et bootcamp sur Pomm et Postgresql{% endblock %}

{% block content %}
    <section class="section page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
{% include "_breadcrumb.html.twig" with { "breadcrumb": { "Accueil": "main_index", "Nos offres": "", "Accompagnement": "" } } %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <h1>Accompagnement technique </h1>
            <p class="lead">Les projets à forte composante métier sont souvent des projets critiques pour les entreprises. Depuis la phase de conception jusqu'au début des développement, il est intéressant de s'adjoindre les services d'un expert qui intègre les équipes techniques afin de mettre le projet « sur des rails ».</p>
            <h2>Intervention ponctuelle (régie)</h2>
            <p>Épauler une équipe, faire émerger des solutions collectives, c'est avant tout le goût du travail en commun qui anime le consultant lors d'une prestation d'accompagnement technique. Il faut intégrer les méthodes de travail et les technologies utilisées pour produire un service métier. Mais aussi comprendre la logique de l'organisation de l'équipe et les talents de chacun. Agilifier les process, organiser des séances de brain-storming : c'est avant tout un travail de communication et de partage technique. L'intervention d'un consultant technique apporte, par sa culture externe, une sécurité et une richesse qui perdurent bien après la fin de sa mission.</p>
            <dl>
              <dt>TJM 700€</dt>
              <dl>Frais en sus</dl>
            </dl>
            <h2>BootCamp (forfait)</h2>
            <p>Lors du démarrage d'un projet, il peut être intéressant de faire échanger des membre de l'équipe permanente avec un consultant dédié. Ainsi placé dans votre contexte projet, le consultant va orienter son intervention en fonction de vos problématiques et proposer un accompagnement ad'hoc.</p>
            <dl>
              <dt>2 × 5 jours chez vous avec un participant : 5 000€ + 1 200€ par participant.</dt>
              <dl>Frais en sus</dl>
            </dl>
          </div>
{% include "fr/_service_panel.html.twig" with { "active": "backing" } %}
        </div>
      </div>
    </section>
{% endblock %}
