{% extends "layout.html.twig" %}

{% block content %}
    <section class="section page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
{% include "_breadcrumb.html.twig" with { "breadcrumb": { "Accueil": "main_index", "Nos offres": "", "Support": "" } } %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <h1>Support</h1>
            <p class="lead">En tant que créateur d'outils dédiés à des parties critiques d'applications métier, PragmaFabrik vous propose un support personnalisé sur ces outils.</p>
            <h2>Outils sur mesure</h2>
            <p>Pomm est un outil libre et l'intégration des correctifs et évolutions ne sont pas forcément en adéquation avec l'utilisation qui peut en être faite dans une entreprise en particulier. PragmaFabrik peut garantir une version spécifique de Pomm taillée sur mesure selon vos besoins.</p>
            <h2>Suivi technique</h2>
            <p>Nos techniciens se tiennent à votre disposition pour répondre à vos questions sur Pomm.</p>
          </div>
{% include "fr/_service_panel.html.twig" with { "active": "support" } %}
        </div>
      </div>
    </section>
{% endblock %}
