{% extends "layout.html.twig" %}

{% block content %}
    <section class="section page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
{% include "fr/_breadcrumb.html.twig" with { "breadcrumb": { "Accueil": "main_index", "Nos offres": "", "Conseil": "" } } %}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <h1>Conseil &amp; audit</h1>
            <p class="lead">Analyser une situation, produire des métriques, proposer et évaluer des solutions; que ce soit pour des compétences ou des performances, c'est avant tout un travail en osmose avec vos équipes.</p>
            <h2>Architecture de base de données</h2>
            <p>La structuration des données est la première étape engageante d'un projet. Véritables fondations, les types de données du moteur de relationnel Postgresql permettent de combiner plusieurs objectifs : fonctionnalités, performances, évolutivité</p>
            <p>L'analyse préalable du métier, des besoins et des contraintes permettent de déterminer le meilleur compromis pour placer les performances là où elles sont nécessaires.</p>
            <dl>
              <dt>TJM 800€</dt>
              <dd>Frais en sus</dd>
            </dl>
            <h2>Problèmes de performances</h2>
            <p>Que ce soit avec ou sans ORM, des problèmes de performances sont souvent le signe d'un défaut structurel ou d'une mauvaise utilisation de la base. Pour déterminer les causes et proposer les solutions adaptées, il est nécessaire de comprendre comment est utilisée la base de données. Dans la plupart des cas, il est possible d'appliquer un correctif aussi rapide que temporaire sous la forme d'un cache évitant de solliciter la partie incriminée. Une analyse plus fine permet de déterminer la conduite à tenir à long terme.</p>
            <dl>
            <dt>TJM 800€</dt>
            <dd>Frais en sus</dd>
            </dl>
          </div>
{% include "fr/_service_panel.html.twig" with { "active": "audit" } %}
        </div>
      </div>
    </section>
{% endblock %}
